[changelog]
header = "# Changelog"
body = """
{%- macro remote_url() -%}
  https://github.com/kodexlabs-io/sidecar-on-dock
{%- endmacro -%}
{% if version %}\
    ## {{ version }}
{% else %}\
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | upper_first }}
    {% for commit in commits -%}
        {% if commit.scope -%}
            - **{{ commit.scope }}:** {{ commit.message | capitalize }} ([`{{commit.id | truncate(length=7, end="")}}`]({{ self::remote_url() }}/commit/{{commit.id}}))
        {% else -%}
            - {{ commit.message | capitalize }} ([`{{commit.id | truncate(length=7, end="")}}`]({{ self::remote_url() }}/commit/{{commit.id}}))
        {% endif -%}
    {%- endfor %}
{% endfor %}
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
split_commits = false
commit_parsers = [
    { message = "^feat", group = "<!-- 0 -->:rocket: New features"},
    { message = "^fix", group = "<!-- 1 -->:bug: Bug fixes"},
    { message = "^perf*", group = "<!-- 2 -->:zap: Performance"}
]
protect_breaking_commits = false
filter_commits = true
tag_pattern = "v[0-9].*"

topo_order = false
sort_commits = "newest"
link_parsers = [
    { pattern = "#(\\d+)", href = "https://github.com/kodexlabs-io/sidecar-on-dock/issues/$1"},
]
